body{
    text-align: center;
}

div div h1 {
    font-size: 50px;
    text-align: center;
    font-family: 'Kanit';
    color:black;
    margin-top: 130px;
    margin-bottom: 30px;
}

div.col-lg-8{
    margin-top: 15px;
}

div.fix{
    margin-left: 300px;
}

